<!doctype html>
<html>
<head>
   <title>QuipData</title>
</head>
<body>
	<header><img src="/img/Penguins2.jpg" alt="QuipData Logo"></header>
   {{{body}}}
</body>
<footer>
<p>
Contact: <b>quipdata<img src="img/at.gif" alt="(at)">uw.edu</b>
</p>
</footer>
</html>
