<!doctype html>
<html>
<head>
   <title>QuipData</title>
</head>
<body>
	<header>
   {{#if name}}
   You are logged in as {{name}}. <a href="/logout">Logout</a>
   {{else}}
   You are not logged in. <a href="/login">Login</a> <a href="/register">Register</a>
   {{/if}}
   <br>
   <a href="/adminLogout">Admin Logout</a>
   <br><br>
   <a href="/"><img src="/img/quipdata.png" alt="QuipData Logo"></a>
   </header>
   {{{body}}}

   {{! Test boilerplate; loads global tests. Also page tests, if they exist }}
   {{#if showTests}}
   	<div id="mocha"></div>
   	<script src="/vendor/mocha.js"></script>
   	<script src="/vendor/chai.js"></script>
   	<script>
   		mocha.ui('tdd');
   		var assert = chai.assert;
   	</script>
   	<script src="/qa/tests-global.js"></script>
   	{{#if pageTestScript}}
   		<script src="{{pageTestScript}}"></script>
   	{{/if}}
   	<script>mocha.run();</script>
   {{/if}}
   {{! End of test boilerplate }}
</body>
<footer>
<p>
Contact: <b>quipdata<img src="img/at.gif" alt="(at)">uw.edu</b>
</p>
</footer>
</html>
