<h1>About QuipData</h1>
<p>Today's Moment of Zen:</p>

{{! This is the other part of the template from server.js. }}
<blockquote>{{fortune}}</blockquote>

<p>
	QuipData will be awesome. You can do anything with QuipData. QuipData. With Quipdata, anything is possible!
	<a href="/contact">Contact page</a>
</p>