<h1>This is the web page for QuipData</h1>
<p>
Currently under testing and construction
</p>
<p>
Contact: <b>quipdata<img src=http://www.washington.edu/computing/gifs/at.gif
							alt='(at)'>uw.edu</b>
</p>