<h1>Login</h1>
<p>
Currently under testing and construction

{{! action is the route that'll process this POST message when it's sent }}
<form action="/login" method="POST">
	{{! name is the only field the server sees, I think }}
	<div>
		<label for="fieldName">Username: </label>
		<input type="text" id="fieldName" name="name">
	<br>
		<label for="fieldPass">Password: </label>
		<input type="password" id="fieldPass" name="pass">
	</div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>
</p>
