<h1>Login</h1>
<p>
Currently under testing and construction

{{! action is the route that'll process this POST message when it's sent }}
<form action="/login" method="POST">
	{{! name is the only field the server sees, I think }}
	<div>
		<label for="field_email">Username: </label>
		<input type="text" id="field_email" name="user_email">
	<br>
		<label for="field_password">Password: </label>
		<input type="password" id="field_password" name="user_password">
	</div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>
</p>
